<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Sample login page</title>
    </head>
    <body>
        <h1 style = "text-align: center;">Slate</h1>
        <form action="/login" method="post">
            <div><label> User Name : <input type="text" name="username" required/> </label></div>
            <div><label> Password: <input type="password" name="password" required/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        <a href="/register">register an account</a>
    </body>
</html>