:root {
    --lightshade: #eaebe9;
    --lightaccent: #818582;
    --maincolor: #83A37C;
    --darkaccent: #92756A; 
    --darkshade: #443f46;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--darkshade);
    color: var(--lightshade);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#logo {
    width: 200px;
    margin: 15px;
    margin-top: 5vh;
}