<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="icon" type="image/x-icon" href="images/slateicon.png">
</head>

<body>
    <form action="/account/register" method="POST">
        <div class="container">
            <img id="logo" src="/images/slatelogo1.png" alt="Slate logo">
            <div id="card">
                <div id="registertext">Create Account</div>
                <div th:if="${error}" class="error-message">
                    <p th:text="${error}"></p>
                </div>
                <div th:if="${success}" class="success-message">
                    <p th:text="${success}"></p>
                </div>
                <div>
                    <div id="username"><input type="text" placeholder="Username" name="username" pattern="\w{3,20}" required /> </div>
                    <div class="subtext">Between 3-20 characters</div>
                </div>
                <div>
                    <div id="password"><input type="password" placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  required /> </div>
                    <div class="subtext">One uppercase, lowercase, number,</div>
                    <div class="subtext">at least 8 characters</div>
                </div>
                <div class="container" id="sign-reg">
                    <input id="register" type="submit" value="Register">
                    <div id="login"><a href="/login">Use existing account</a></div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>


<!-- Placeholder html -->

<!-- <div class="container">
    <form action="/account/register" method="POST">
        <input type="text" id="username" name="username" required><br><br>
        <input type="password" id="password" name="password" required><br><br>  
        <input id="register" type="submit" value="Register">
    </form>
</div> -->